[submodule "001-project-compression-decompression/bitshuffle"]
	path = 001-project-compression-decompression/bitshuffle
	url = git@github.com:kalcutter/bitshuffle.git
[submodule "001-project-compression-decompression/lz4"]
	path = 001-project-compression-decompression/lz4
	url = git@github.com:lz4/lz4.git
[submodule "002-project-recreate-dectris-compression/lz4"]
	path = 002-project-recreate-dectris-compression/lz4
	url = git@github.com:lz4/lz4.git
[submodule "002-project-recreate-dectris-compression/bitshuffle"]
	path = 002-project-recreate-dectris-compression/bitshuffle
	url = git@github.com:kalcutter/bitshuffle.git
[submodule "003-project-general-compression/bitshuffle"]
	path = 003-project-general-compression/bitshuffle
	url = git@github.com:kiyo-masui/bitshuffle.git
